rect.bordered {
  stroke: #E6E6E6;
  stroke-width:1px;
}

text.mono {
  font-size: 9pt;
  font-family: 'roboto', sans-serif;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

#heatmapchart svg g{
	transform: translate(85px, 30px);
}