*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    width: 500px;
}

.header{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background: #fff;
}

#dailychart{
    width: 90%;
    margin-left: 5%;
}

/* Style the tab */
div.tab {
    position: absolute;
    border-top: 1px solid rgba(0,0,0,0.1);
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    opacity: 0.3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.1s;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'roboto', sans-serif;
    border-bottom: 5px solid rgba(0,0,0,0);
}


/* Create an active/current tablink class */
div.tab button.active {
    opacity: 1;
    border-bottom: 5px solid #c543c4;
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 500px;
    border-top: none;
    background: rgba(0,0,0,0.02);
}
h3, p {
  font-family: Lato;
}
